body {
    background-image:url(../images/back01.jpg); /*путь указывается относительно CSS!!! а не html*/
    background-size: 100%; /* Современные браузеры */
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    background-color: #EEE;
    margin: 0;
    padding: 0;
    color: #000; /* цвет шрифта*/
    font-size: 13px;
    height: 100%;
}

.container { /*вертикальна полоса в которой все и происходит*/
    opacity:1;
    width: 1000px; /*ширина полосы*/
    margin: 0 auto; /*отступ самого контейнера от body*/
}

.header {
    width: 994px;/*ширина поло*/
    background-color: #dbe4f6;
    box-shadow:10px -2px 10px #000; /*тень: сдвигХ сдвигУ размытие цвет,*/
    height:150px;
    /*outline: 2px solid #000; /* Чёрная рамка */
    border: 3px solid #000; /* внутренняя рамка */
    border-radius: 10px; /* Радиус скругления */
    margin: 5px auto;
}

.descr{
    /*float: center;*/
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 70px;

}

.welcome{
    text-align: right;
    padding-right: 15px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
}

.search_form{
    width: 994px;
    text-align: center;
    background-color: #dbe4f6;
    box-shadow:10px -2px 10px #000; /*тень: сдвигХ сдвигУ размытие цвет,*/
    height: auto;
    padding-top: 12px;
    border: 3px solid #000; /* внутренняя рамка */
    border-radius: 10px; /* Радиус скругления */
}

.main{
    weight:100%;
    height: 100%;
    background-color: #dbe4f6;
    box-shadow:10px -2px 10px #000; /*тень: сдвигХ сдвигУ размытие цвет,*/
    margin: 5px auto;
    border: 3px solid #000; /* внутренняя рамка */
    border-radius: 10px; /* Радиус скругления */

}

.sidebar1 {
    float: left;
    width: 20%;
    background-color: #dbe4f6;
    margin: 5px ;
    padding-bottom: 20px;
}

h4 {
    padding-right: 15px;
    padding-left: 15px;
}


ul.nav a, ul.nav a:visited {
    padding: 5px 5px 5px 5px; /*верх, право, низ, лево*/
    display: block;
    text-decoration: none; /*Отменяет все эффекты, в том числе и подчеркивания у ссылок, которое задано по умолчанию.*/
    color: #000;
}

ul.nav a:hover{
    font-size: 20px;
}

ul.nav {
    list-style: none;
    margin-bottom: 15px;
}

a:link {
    color:#414958;
    text-decoration: underline;
}

a:hover, a:active, a:focus {
    text-decoration: none;
}

.letters {
    text-align: center;
}

.letters a, a:visited{
    text-decoration: none; /*Отменяет все эффекты, в том числе и подчеркивания у ссылок, которое задано по умолчанию.*/
    color: #000;
}
.book_list{
    float:right;
    width: 750px;
    height: 85%;
    overflow: auto; /* Добавляем полосы прокрутки */
}
.book_list h5{
    text-align: center;
    padding: 0;
    margin: 0;
}

.book_info{
    width: 210px;
    font-size: 12px;
    float:left;
    margin:15px;
}

.book_title p{
    color:#378de5;
    font-weight: bold;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.book_title{
    height: 50px;
    float:left;
}



.book_image{
    height: 260px;
    float:left;
}

.book_details{
    float:left;
    margin-top: 10px;
}
				
		
		


		
		
		
		
	
	