/* 
    Created on : 05.05.2018, 12:18:40
    Author     : Vadim Valunskii
*/

body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    background-color: #80B3FF;
    margin: 100px;
}

.main {
    background-image:url(../images/back01.jpg);
    background-size: 100%;
    box-shadow:10px -2px 10px #000; /*тень: сдвигХ сдвигУ размытие цвет,*/
    width: 1000px;
    height: 550px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 70px;
}

.title {
    color: #eaeaea;
    text-align: center;
    font-size: 18px;
    font-weght: bold;
}

.text {
    color: #eaeaea;
    padding-left: 50px;
    padding-right: 50px;
}

.login_form{
    padding-left: 50px;

    text-align: center;
    padding: 20px;
}

.login_div{
    width: 350px;
    border: 1px solid #eaeaea;
    margin: 0 auto;
    padding: 10px;
    background-color: #80B3FF;
    box-shadow:10px -2px 10px #000; /*тень: сдвигХ сдвигУ размытие цвет,*/
}

.footer {
    color: #C7C7C7;
    height: 50px;
    text-align: center;
    margin: 50px;
}

.content {
    height: 300px;
}
